@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background-color: #0e1924;
  /* overflow-x: hidden; */
}

/* Navabar */

.navbar {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 90px;

  align-items: center;
  justify-content: space-between;
}

.navbar .list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.list-item a {
  color: aliceblue;
  text-decoration: none;
}

#btn-1 {
  margin-right: 30px;
}

.nav-button button {
  padding: 10px 25px;
  background-color: #6c63ff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.list-item {
  position: relative;
}
.list-item .more::after{
  content: ">";
  position: absolute;
  top: -2px;
  left: 70px;
  font-weight: 600px;
  font-size: 20px;

  transform: rotate(90deg);
}

.dropdown-container {
  position: absolute;
  /* display: none; */
  background-color: transparent;
  top: 4rem;
  left: -10rem;
  transition: top 1s;
  visibility: hidden;
  transition-timing-function: ease;
}
.dropdown {
  width: 50vw;
  padding: 40px;
  margin: 30px;
  margin-left: 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
#dropdown-content ul li {
  list-style-type: none;
  margin-top: 10px;
}
.list-item:hover .dropdown-container {
  visibility: visible;
  top: 1.5rem;
}

.hero-container {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #6c63ff;
  height: auto;
  width: 88vw;
  border-radius: 10px;
  align-items: center;
  /* overflow: hidden; */
}

.hero-left {
  align-self: center;
  width: 50%;
}

.hero-container .search-bar {
  margin-top: 30px;
}
.hero-container .search-input {
  outline: none;
  padding: 14px 50px 14px 40px;
  border-radius: 50px;
  border: none;
  background-color: #0e1924b0;
  color: #f2f2f2;
  width: 300px;
}
.search-input::placeholder {
  color: #f2f2f2b1;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}
.search-bar .fa-search {
  position: absolute;
  padding-left: 10px;
  color: #f2f2f2;
}
.search-bar .submit {
  left: 348px;
  position: absolute;
  padding: 12px;
  /* color: #f2f2f2; */
  background-color: #f9bb2b;
  border-radius: 50%;
  cursor: pointer;
}

.hero-right img {
  margin-top: -40px;
  margin-bottom: -2px;
  width: 400px;
  height: auto;
  display: block;
}

.hero-left h1 {
  font-size: 50px;
}
.hero-left h1 > span {
  color: #f9bb2b;
  font-size: 60px;
}

.banner-container {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  height: auto;
  width: 88vw;
  border-radius: 10px;
  align-items: center;
}

.banner-container img {
  width: 70%;
  /* width: 900px; */
  max-width: 900px;
  height: auto;
  display: block;
}

.banner-container h1 {
  font-size: 50px;
  color: #f2f2f2;
  text-align: right;
}
.banner-container h1 span {
  color: #f9bb2b;
  font-size: 60px;
}

.banner-container p {
  padding-top: 10px;
  color: #f2f2f2;
  text-align: right;
  font-weight: 600;
}

.hero-card {
  margin: 0 auto;
  margin-top: 40px;
  height: 500px;
  width: 88vw;
  border-radius: 10px;
  background-color: #000;
  /* align-items: center; */
}

.hero-card h1 {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  color: #f2f2f2;
  display: block;
}
.hero-card h1 > span {
  color: #f9bb2b;
  font-size: 60px;
}

.hero-card .card-nav {
  list-style: none;
  position: relative;
  /* height: 340px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-card .card-nav li {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 6px;
  font-weight: 600;
}
.hero-card .card-nav li a {
  text-decoration: none;
  color: black;
}

#card-nav-active {
  background-color: #f9bb2b;
  color: black;
}
#card-nav-active::after {
  content: "";
  position: absolute;
  width: 30%;
  top: 35px;
  left: 30px;
  border: 2px solid #f2f2f2;
}

.hero-card > div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
}
.card {
  max-height: 300px;
  width: 300px;
  background-color: #0e1924;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.card > h4 {
  font-size: 20px;
  margin-top: 10px;
  color: #f2f2f2;
}
.card > div > span {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 5px 15px;
  background-color: #f2f2f2;
  color: #6c63ff;
  border-radius: 4px;
}
.card > div > p:nth-child(1) {
  margin-top: 20px;
  display: inline;
  font-weight: 600;
  float: right;
  color: #f9bb2b;
}
.card > div > p:nth-child(2) {
  margin-top: 20px;
  float: left;
  display: inline;
  font-size: 16px;
  font-weight: 600;
  color: #f9bb2b;
}

/* ///////////////\

*/


.phns-banner{

    position: relative;
    margin: 0 auto;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2rem 5rem 0px 5rem;
    background-color: #f2f2f2;
    color: white;
}

.phns-banner .phns-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phns-banner>h1{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 30px;
}
.phns-banner>h1>span{
    font-size: 60px;
    color: #f9bb2b;
}
.phns-cards div{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.phns-cards>div:nth-child(1){
    background-color: #383CC1
}
.phns-cards>div:nth-child(2){
    background-color: #E03B8B
}
.phns-cards>div:nth-child(3){
    background-color: #242B2E
}
.phns-cards div>img{
    width: auto;
    float: right;
    display: block;
}
.phns-cards div h4{
    font-size: 50px;
    color: #f9bb2b;
}
.phns-cards div p{
    font-size: 20px;
    font-weight: 600px;
}


/* //////////////////// */

.fame-banner{
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    width: 88vw;
    background-color: #000;
    border-radius: 10px;
    padding-bottom: 30px;
}
.fame-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: white; */
    color: white;
    
}
.fame-banner h1{
    text-align: center;
    font-size: 50px;
    color: #f2f2f2;
    margin-bottom: 30px;
    
}
.fame-banner h1>span{
    color: #f9bb2b;
    font-size: 60px;
}
.fame-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #0e1924;
    position: relative;
    border-radius: 12px;
    padding: 20px;
}
.fame-card h4{
    font-size: 20px;
}

.fame-card img{
    width: 150px;
    border-radius: 51%;
    display: block;
}
.fame-card .fa-linkedin{
    padding: 10px;
    color: #f2f2f2;
    background-color: #007bb5;
}













.archievrs-banner{
    margin: 0 auto;
    margin-top: 40px;
    height: 250px;
    width: 88vw;
    border-radius: 10px;
    background-color: #000;
}

.archievrs-banner h1{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: #f2f2f2;
}
.archievrs-banner >span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.archievrs-banner> span>img{
    display: block;
    width: 200px;
}















/* Footer */

.footer {
    position: relative;
  margin: 0 auto;
  margin-top: 120px;
  height: 400px;
  padding: 2rem 5rem 0px 5rem;
  /* max-width: 90vw; */
  background-color: #000;
  color: white;
}

.footer>div:nth-child(2) img{
    margin-top: 60px;
    width: 150px;
}
.footer-detail {
  display: flex;
  justify-content: space-between;
  
}
.footer-detail > div > h4 {
  color: #f9bb2b;
  font-size: 20px;
}
.footer-detail > div > p {
    margin-top: 10px;
  width: 400px;
}
.footer-detail > div a {
  color: #f2f2f2;
  text-decoration: none;
}
.footer-detail > div > ul {
  list-style: none;
  line-height: 2;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin-in {
  background: #007bb5;
  color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;}

    .media-icons{
        margin-top: 10px;
    }

.fab {
  padding: 12px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.social-media{
    text-align: center;
}


hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bottom_text .designedBy{
    float: right;

}
.bottom_text .designedBy a{
    text-decoration: none;
    color: #f9bb2b;
}


.footer-container-l{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding:40px 32px 40px 40px;
    background-image: -webkit-gradient(linear,left top,right top,from(#7831ca),to(#00a5ff));
    border-radius: 8px;
}

.footer-container-l .list{
    display: flex;
}
.footer-container-l li{
    list-style: none;
    margin-right: 24px;
    padding-left: 20px;
    background-image: url(https://assets-global.website-files.com/5d08fdb5b1cfe22ec38a91d8/5ebb10cd839b9038d6b74068_Checkmark--16--white.svg);
    background-position: 0 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
}

.footer-checkout{
    float: right;
    background-color: #f9bb2b;
    border: none;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: -40px;
    cursor: pointer;
}



